In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('streamlit_app/required_dataframe/yearWiseAccident.csv')
df

,Years,Total Number of Road Accidents (in numbers),Road Length (in kms),Total Number of Persons Killed (in numbers),Total Number of Persons Injured (in numbers)
0,1970,114100.0,1188728.0,14500.0,70100.0
1,1980,153200.0,1491873.0,24000.0,109100.0
2,1990,282600.0,1983867.0,54100.0,244100.0
3,1994,325864.0,2890950.0,64463.0,311500.0
4,1995,351999.0,2975035.0,70781.0,323200.0
5,1996,371204.0,3202515.0,74665.0,369502.0
6,1997,373671.0,3298788.0,76977.0,378361.0
7,1998,385018.0,3228356.0,79919.0,390674.0
8,1999,386456.0,3296650.0,81966.0,375051.0
9,2000,391449.0,3316078.0,78911.0,399265.0
10,2001,405637.0,3373520.0,80888.0,405216.0
11,2002,407497.0,3426603.0,84674.0,408711.0
12,2003,406726.0,3528654.0,85998.0,435122.0
13,2004,429910.0,3621507.0,92618.0,464521.0
14,2005,439255.0,3809156.0,94968.0,465282.0
15,2006,460920.0,3880651.0,105749.0,496481.0
16,2007,479216.0,4016401.0,114444.0,513340.0
17,2008,484704.0,4109592.0,119860.0,523193.0
18,2009,486384.0,4471510.0,125660.0,515458.0
19,2010,499628.0,4582439.0,134513.0,527512.0
20,2011,497686.0,4676838.0,142485.0,511394.0
21,2012,490383.0,4865394.0,138258.0,509667.0
22,2013,486476.0,5231922.0,137572.0,494893.0
23,2014,489400.0,5402486.0,139671.0,493474.0
24,2015,501423.0,5472144.0,146133.0,500279.0
25,2016,480652.0,5603293.0,150785.0,494624.0
26,2017,464910.0,5897671.0,147913.0,470975.0
27,2018,467044.0,6125797.0,151417.0,469418.0
28,2019,449002.0,NaN,151113.0,451361.0